/* Soft css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Reset margin and padding to remove browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif; /* Choose a font that matches your design */
  background-color: #22223B; /* Your specific background color */
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.boxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px; /* Space between the two boxes */
  width: 90vw;
  max-width: 1302px; /* Matches #main to ensure alignment */
  margin-top: 40px;
}

#main {
  width: 90vw;
  max-width: 1302px;
  height: auto; /* Adjust height as needed */
  margin: 20px auto; /* Add margin to ensure spacing around the box */
  border: 1px solid rgb(160, 137, 159);
  background-color: #9A8698;
  color: #F2E9E4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; /* Adjust padding to ensure content is not too cramped */
}

/* Customizations Container */
#passwordGeneratorContainer {
  position: relative; /*Use relative to keep it in the document flow */
  width: 45vw;
  max-width: 660px;
  padding-top: 30px;
  background-color: #9A8698;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Password History Container - mirroring the style of the customizations container */
#passwordHistoryContainer {
  position: relative; /*Use relative to keep it in the document flow */
  width: 45vw;
  max-width: 660px;
  padding-top: 30px;
  padding-left: 10px;
  background-color: #9A8698;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#formTitle, #historyTitle {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #F2E9E4;
  color: #22223B;
  text-align: center;
  line-height: 30px;
  border-radius: 10px 10px 0 0;
}

#passwordGeneratorForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #9A8698;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(164, 133, 133, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

/* Styling for the display area, history area, and buttons */
#passwordDisplay {
  flex-grow: 1; /* Allows the areas to grow and fill available space */
  text-align: left; /* Aligns the text to the left */
  margin-right: 20px; /* Adds some space on the right */
}

button {
  margin-left: 10px; /* Adds space between buttons */
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  background-color: #007BFF; /* Blue background */
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

/* Additional styling for input elements as needed */
input[type=range], input[type=checkbox] {
  margin-right: 10px;
}
